version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - SUPABASE_URL
      - SUPABASE_ANON_KEY
    volumes:
      - .:/app
      - /app/node_modules
    command: npm start
